:root {
  --color-50: #fffaf0;
  --color-100: #feebc8;
  --color-200: #fbd38d;
  --color-300: #f6ad55;
  --color-400: #ed8936;
  --color-500: #dd6b20;
  --color-600: #c05621;
  --color-700: #9c4221;
  --color-800: #7b341e;
  --color-900: #652b19;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;
  --font-3xl: 1.875rem;
  --font-4xl: 2.25rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.orange-box {
  position: absolute;
  left: 43%;
  bottom: 42%;
  height: 20px;
  width: 60px;
  z-index: -2;
}

.more-categories-text {
  color: white;
  bottom: 90px;
  left: 40px;
}

.white-arrow {
  position: absolute;
  bottom: 110px;
  right: 70px;
}

@media only screen and (max-width: 600px) {
  .first-row,
  .second-row {
    flex-direction: column;
  }

  section > div {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 600px) {
  
}